img{
    height: 50px;
    width: 100px;
    margin-left: 20px;
}
div{
    text-align: center;
}
h2{
    color: rgb(254, 220, 28);
    font-weight: bold;
}
label{
    color: white;
}

button:hover{
    background-color: rgb(18, 248, 6);
    text-decoration: underline;
}
input[type="text"], input[type="number"] {
    width: 230px;
    margin-left: 17cm;
    text-align: center;

}
p{
    width: 300px;
    margin-left: 16cm;
    text-align: center; 
}