table {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: 525px;
  
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: white;
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: white;
}

div {
  text-align: center;
}
h2{
  color: rgb(254, 220, 28);
  font-weight: bold;
}
label{
  color: white;
}
button:hover{
      font-size: medium;
}